<div class="container">
  <div class="row">
    <h1>Email Notification</h1>

    <p><%= @greeting %></p>
    <p>Comment: <%= @comment.content %></p>
    <p>Visit Project by clicking <%= link_to 'Here', project_url(@project) %> </p>
  </div>
</div>
