<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-danger alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <h2 class="errors_heading"><%= pluralize(resource.errors.count, "error") %> prohibited this <%= resource_name %> from being submitted:</h2>

    <ol>
      <% resource.errors.full_messages.each do |msg| %>
        <li class="errors_li"><%= msg %></li>
      <% end %>
    </ol>
  </div>
<% end %>
