<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left">© 2018 - System Built By Mr. Farzam.
         <a href="#" target="_blank" >Project Management System</a>
    </p>

    <a href="#" class="navbar-btn btn-primary btn pull-right">
    <span class="glyphicon glyphicon-star"></span>  Like Our Facebook Page</a>
  </div>
</div>