<li class="mt-1"> 
  <a href="#"> 
    <strong> Welcome, <%= current_user.username %> </strong>
  </a> 
</li>

<li> 
  <a href="<%= edit_user_registration_path %>"> 
    <span class=" glyphicon glyphicon-user"></span> Edit Profile
  </a> 
</li>

<li>
  <%= link_to destroy_user_session_path, method: :delete do %>
    <span class="glyphicon glyphicon-log-out"></span> Logout
  <% end %>
</li>
