<li class="mt-1">
  <%= link_to '#' do %>
    <strong> Welcome, <%= current_user.username %> </strong>
  <% end %>
</li>

<li>
  <%= link_to edit_user_registration_path do %>
    <span class="glyphicon glyphicon-user"></span> Edit Profile
  <% end %>
</li>

<li>
  <%= link_to destroy_user_session_path, method: :delete do %>
    <span class="glyphicon glyphicon-log-out"></span> Logout
  <% end %>
</li>
