<li>
  <%= link_to new_user_registration_path do %>
    <span class="glyphicon glyphicon-user"></span> Sign Up
  <% end %>
</li>

<li>
  <%= link_to new_user_session_path do %>
    <span class="glyphicon glyphicon-log-in"></span> Login
  <% end %>
</li>
