<%= link_to [:edit, client], remote: true, data: { toggle: "tooltip" }, title: 'Edit Client', class: 'green-color' do %>
  <span class="glyphicon glyphicon-edit mr-8px"></span>
<% end %>
        
<%= link_to '&times;'.html_safe, client, method: :delete, class: 'close crimson-color', data: { dismiss: "alert", toggle: "tooltip", confirm: 'Are you sure?' }, title: 'Remove Client from System', aria: { label: "close" } %>
