<%= link_to [:edit, project], remote: true, data: { toggle: "tooltip" }, title: 'Edit Project', class: 'green-color' do %>
  <span class="glyphicon glyphicon-edit mr-8px"></span>
<% end %>

<%= link_to ''.html_safe, mark_completed_project_path(project), class: 'glyphicon glyphicon-send medium-violetred-color', data: { dismiss: "alert", toggle: "tooltip", confirm: 'Are you sure?' }, title: 'Mark this Project Complete', aria: { label: "close" }, remote: true %>
